body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    line-height: 1.42857143;
    color: #888;
    background-color: #84a;
}

p {
    font-size: 14px;
    color: black;
}

button {
    height: 55px;
    border-radius: 5px;
    border-bottom: solid 2px #84a;
    border-right:  solid 2px #84a;
}
button:hover {
  color: red;
}

#summation {
    grid-column: 1 / 5;
    grid-row: 1;
    width: 280x;
    padding-right: 5px;
    background-color: black;
    text-align: right;
    margin: 10px;
    color: red;
}

#calcbody {
  display:grid;
  justify-content: center;
    background-color: #aaa;
    height: 100%;
    width: 95vw;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    width: 280px;
}

#addend {
    display: inline;
    width: 138px;
    height: 65px;
    margin: 5px 0;
    text-align: right;
}

.ticker {
    grid-column: 1 / 3;
    width: auto;
    height: 60px;
    overflow: auto;
    font-size: 14px;
    color: black;
    background-color: violet;
    display: none;
}

.topRow {
    grid-column: 1 / 5;
    grid-row: 2;
}

.bottomRow {
    grid-column: 3 / 5;
    grid-row: 7;
}

.longButton {
    width: 138px;
    text-align: center;
}

.hiddenButton {
    background-color: #aaa;
    cursor: none;
    border: none;
}

/* change a couple Bootstrap values*/

.nav {
    font-size: 18px;
}
.navbar-toggle {
  height: 10px;
}

@media (min-width: 500px) {
  #calcbody {
    max-width: 480px;
    margin: 20px auto auto auto;
    padding-bottom: 30px;
    border-radius: 25px;
  }
  .grid-container {
    width: 400px;
    grid-gap: 10px;
  }
  button {
    height: 80px;
    font-size: 40px;
  }
  button:hover {
    font-weight: 900;
    text-shadow:  2px 2px #888;
  }
  .longButton {
    width: 195px;
  }
  #summation {
    width: auto;
    height: 70px;
    font-size: 55px;
  }

}