/*! custom.css */
body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 40px;
    line-height: 1.42857143;
    color: #888;
    background-color: #84a;
}
p {
  font-size: 14px;
  color: black;
}

button {
    height: 50px;
    width: 50px;
    font-variant: small-caps;
    /*font-size: 40px;*/
    border-radius: 6px;
}

/*overriding the bootstrap styles for my own sinister purposes*/
.btn {
  height: 60px;
  margin-bottom: 10px;
}
.nav {
    font-size: 18px;
}
.btn:hover {
    color: #84a;
}

/* back to regular CSS styles */

.longButton {
    width: 125px;
    text-align: center;
}

.hiddenButton {
    background-color: #aaa;
}

#calcbody {
    background-color: #aaa;
    height: 100%;
    width: 330px;
    margin: 10px;
/*    padding: 40px;
*/}
.container {
    width: 310px;
}
.about {
  width: 320px;
}

.ticker {
  width: auto;
  height: 100px;
  overflow: scroll;
  font-size: 18px;
  color: black;
  background-color: violet;
  display:none;
}

#summation {
    width: 300px;
    padding-right: 5px;
    background-color: black;
    text-align: right;
    margin: 10px;
    color: red;
}

#input {
    width: 300px;
    text-align: right;
    margin: 10px;
}
#addend {
  display: inline-block;
  text-align: right;
  width: 125px;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .btn {
    font-size: 40px;
  }
  .container {
    width: 500px;
  }
  #calcbody {
    width: 400px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 .btn {
    font-size: 30px;
    height: 45px;
    width: 45px;
    padding: 0;
  }
  .longButton {
    width: 125px;
    text-align: center;
}
button {
    height: 30px;
    width: 30px;
  }
}
